.main-content {
  padding-left: 2rem;
  padding-right: 2rem;
}

.homeDescription{
  font-size: 1.5rem;
  line-height: 1.5em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 1em 10em 4em 10em;
  color: gray;
}

.aboutUsFooter{
  font-size: 1.2rem;
  line-height: 1.5em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding-top: 2em;
  color: gray;

  widows: 100%;


}

.footer {
  height: 400px;

  background-color: black;
  color: white;
  align-content: center;
  padding: 0 2.5em 0 2.5em;
}

.footer section {
  color: #ffd700;
  display: flex;
  align-content: center;
}

footer h2 {
  padding-top: 2em;
}

nav {
  background: black;
  color: white;
  font-size: 1.2em;
  height: 5em;
  align-content: center;

}

.top-bar-right{
  ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }
}

.teamMembers{
  background: black;
  color: white;
}

.goldText{
  color: #ffd700;
}
.goldBorder{
  border: 2px solid #ffd700;
}

.whiteText{
  color: white;
}
.greyText{
  color: #979797;
}

.greenText{
  color:rgb(50, 189, 129);
}
.greyText{
  color: grey; 
}

.d-direction-row{
  flex-direction: row;

}
.d-direction-row-reverse{
  flex-direction: row-reverse;
}
.blackBackground{
  background-color: black;
}

//CONTENT-TEAM
.teamHeader{
height: 50vh;
background-position: center;
background-size: 100%;
background-repeat: no-repeat;
}



//BLOG ARCHIVE
.singleJournal{
  width: 30%;
  border-radius: 15px;
}

.blogHeader{
  height: 300px;
  background-color: black;
}
.blogImageArchive{
  height: 300px;
}

.blogExcerpt, .comments {
  line-height: 25px;
}
.byline{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: #979797;
  font-size: 15px;

}

//EVENTS ARCHIVE
.noEvents{
  height: 700px;
}
.eventPictureArchive {
  height: 500px;
}