/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

/* Copy */

p {
	margin-bottom: $base__space-unit;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 $base__space-unit;
}

address {
	margin: 0 0 $base__space-unit;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6rem;
	max-width: 100%;
	overflow: auto;
	padding: 1.6rem;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}



.adventureTitleArchivePage{
  font-size: 2rem;
}





.lato {
	 font-family: 'Lato', sans-serif;
	 font-weight: 100;
}

.lato400 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.lato700 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.oswald {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
  }

  .boldoswald {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
  }

body {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

.xsmFont{
	font-size: 0.5em;
}

.smFont{
	font-size: 1.3em;
}

.medFont{
	font-size: 2em;
}

.med-lgFont{
	font-size: 3em;
}

.lgFont{
	font-size: 4em;
}

.text-align-right{
	text-align: right;
}

.letterSpacingSm{
	letter-spacing: 0.4rem;
}
.letterSpacingMed{
	letter-spacing: 0.7rem;
}

.uppercase{
	text-transform: uppercase;
}